// Dark theme
$backgroundDark: #10212E;
$sidebarDark: #192C3B;
$textDark: white;

// Bright theme
$backgroundBright: #F6F7F7;
$sidebarBright: #EEEFF0;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #2B97D3;
